<h1><%= @shoe.brand %></h1>
<div class="bottom-gradient">
  <!-- <div class="well"> -->
    <h3>Edit this Brand name?</h3>
    <form action="/shoes/<%= @shoe.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <input name="shoe_brand" type="text">
      <button type="submit" class="">Edit</button>
    </form>
    <h3>Delete this Shoe Brand??</h3>
    <form action="/shoes/<%= @shoe.id() %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="">Delete</button>
    </form>
  <!-- </div> -->
</div>
<div class="bottom-gradient">
  <h2><%= @shoe.brand %> brand is sold in these stores</h2>
  <hr>
  <% if @shoe.stores.any?() %>
    <ul>
      <% @shoe.stores.each() do |store| %>
        <li><h3><%= store.name() %></h3></li>
      <% end %>
    </ul>
  <% else %>
    <h4>No Stores sell this Shoe yet</h4>
  <% end %>
</div>
<div>
  <a class="" href="/">Back to Main</a>
</div>
